.Produto img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    padding-top: 6px;
}

body{
    background-color: #7F7566;
    justify-content: center;
    align-items: center;
}

.Produto{
    border-width: 5px;
    border-color: #191714;
    border-style: solid;
    vertical-align: top;
    margin: 10px;
    padding: 15px;
    background-color: blanchedalmond;
    display: inline-block;
    border-radius: 10px;
}

.Produto h5{
    margin: 1px;
    font-weight: normal;
    font-size: medium;
}

.submitCardapio{
    margin-left: 50%;
    display: grid;
    border-radius: 15px;
    background-color: blanchedalmond;
    border-style: none;
    font-size: medium;
    vertical-align: bottom;
       
}

.Comanda{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ComandaBox{
    border-width: 10px;
    border-style: double;
    padding: 10px;
    margin: 10px;
    align-items: center;
    border-radius: 15px;
    background-color: blanchedalmond;
    width: 200px;
    height: auto;
}
